
.login_panel{
    -fx-alignment: "top_center";
    -fx-font-size:18px;
}
.login_panel .loginSubContainer{
    -fx-alignment:"top_center";
    -fx-padding: 20px;
}
.login_panel .input_row{
    -fx-alignment: "center";
    -fx-spacing: 20px;
}
.login_panel .login_button{
    -fx-text-fill: WHITE;
    -fx-background-color: #5264AE;
    /*-fx-font-size: 14px;*/
}